<mat-card *ngIf="stats">
  <mat-card-title>
    <h2>Quick Stats</h2>
  </mat-card-title>

  <app-grid [columns]="2">
    <app-grid-item>
      <mat-card-header>
        <h3>Session Totals</h3>
      </mat-card-header>

      <mat-card-content>
        <p>{{ stats.sessionCount }} Sessions  |  {{ stats.trainingTime }} Seconds</p>
      </mat-card-content>
    </app-grid-item>

    <app-grid-item>
      <mat-card-header>
        <h3>Session Averages</h3>
      </mat-card-header>

      <mat-card-content>
        <p>{{ stats.averageSuccesses }} Solves  |  {{ stats.averageFailures }} Misses</p>
      </mat-card-content>
    </app-grid-item>
  </app-grid>
</mat-card>
