<app-container>
  <h2>
    My Packs
  </h2>

  <app-grid [columns]="3" [mobileColumns]="1">
    <app-grid-item *ngFor="let pack of subscribedPacks$ | async">
      <app-pack-card [pack]="pack"></app-pack-card>
    </app-grid-item>

    <app-grid-item>
      <button mat-raised-button color="primary" [routerLink]="['new']">
        Create Pack
      </button>
    </app-grid-item>
  </app-grid>

  <h2>
    Browse
  </h2>

  <app-grid [columns]="3" [mobileColumns]="1">
    <app-grid-item *ngFor="let pack of unsubscribedPacks$ | async">
      <app-pack-card [pack]="pack"></app-pack-card>
    </app-grid-item>
  </app-grid>
</app-container>
