<mat-card>
  <mat-card-header>
    <h4>{{ pack.name }}</h4>
  </mat-card-header>

  <mat-card-content>
    <p><small>{{ pack.exercises.length }} Exercises</small></p>

    <p *ngIf="pack.data.ratingRange as range"><small>{{ range.low }} - {{ range.high }} Rating</small></p>

    <p *ngIf="pack.data.themes?.length"><small>{{ pack.data.themes?.join(", ") }}</small></p>
  </mat-card-content>

  <mat-divider></mat-divider>

  <mat-card-actions>
    <button mat-button [routerLink]="['/packs', pack.id, 'sessions', 'new']">Train</button>

    <app-toggle-pack-subscription [pack]="pack"></app-toggle-pack-subscription>
  </mat-card-actions>
</mat-card>
