<mat-card>
  <mat-card-header>
    <h4>{{ pack.name }}</h4>
  </mat-card-header>

  <mat-card-content>
    <app-grid [columns]="2">
      <app-grid-item>
        <p><small>{{ pack.exercises.length }} Exercises</small></p>

        <p *ngIf="pack.data.ratingRange as range"><small>{{ range.low }} - {{ range.high }} Rating</small></p>

        <p>
          <small>
            <ng-container *ngIf="pack.data.themes?.length">
              {{ pack.data.themes?.join(", ") }}
            </ng-container>

            <ng-container *ngIf="!pack.data.themes?.length">
              &nbsp;
            </ng-container>
          </small>
        </p>
      </app-grid-item>

      <app-grid-item>
        <ng-container *ngIf="completeCycles$ | async as completeCycles">
          <p *ngIf="completeCycles && completeCycles.length > 0">
            <small>Completed {{ completeCycles?.length || 0 }} times</small>
          </p>
        </ng-container>

        <ng-container *ngIf="ongoingCycle$ | async as ongoingCycle">
          <p>
            <small>Current Progress: {{ getCompletedPerc(ongoingCycle) }}</small>
          </p>
        </ng-container>
      </app-grid-item>
    </app-grid>
  </mat-card-content>

  <mat-divider></mat-divider>

  <mat-card-actions>
    <app-toggle-pack-subscription [pack]="pack"></app-toggle-pack-subscription>

    <ng-container *ngIf="completeCycles$ | async as completeCycles">
      <button
        *ngIf="completeCycles.length > 0"
        mat-button [routerLink]="['/packs', pack.id, 'stats']"
      >
        Stats
      </button>
    </ng-container>

    <span class="spacer"></span>

    <button mat-button color="primary" [routerLink]="['/packs', pack.id, 'sessions', 'new']">Train</button>
  </mat-card-actions>
</mat-card>
