<app-container *ngIf="sessions$ | async as sessions">
  <app-grid [columns]="1">
    <app-grid-item>
      <app-training-sessions-quick-stats [sessions]="sessions"></app-training-sessions-quick-stats>
    </app-grid-item>

    <app-grid-item>
      <mat-card>
        <app-training-sessions-successes-per-minute [sessions]="sessions"></app-training-sessions-successes-per-minute>
      </mat-card>
    </app-grid-item>

    <app-grid-item>
      <app-training-sessions-calendar [sessions]="sessions"></app-training-sessions-calendar>
    </app-grid-item>
  </app-grid>
</app-container>
